.preload  
/* Stops the transitions on page lunch */
{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.parallax {
	background-image: url('./images/back_3.jpg');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-height:100%;
	transform: translateZ(0px) scaleY(1.1) scaleX(1);
	top: 0;
	z-index: -1;



}

nav{
	
	list-style: none;
	margin-bottom: 30px;
	display: flex;
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 9999;
	font-family: Verdana;
	width: 100%;	
}

nav ul {
 	list-style-type: none;
 	margin: 0px;
	padding: 0;
	width: 100%;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
	border-radius: 3px;
	justify-content: center;
}

nav li {
	float: left;
	margin: 0px;
	width: 25%;
	-webkit-transition: 0.3s ease;
}

nav li a {
	padding-top: 10px;
	padding-bottom: 10px;
 	text-decoration: none;
 	color: white;
	
	float: left;
	width: 100%;	
}

nav li a {
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

li a:hover{
	background-color: aliceblue;
	color: darkblue;
	box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.3);
}
@media screen and (max-width: 580px) {
nav li {
	float: none;
	width: 100%;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}}

.title {
	font-family: Verdana;
	font-weight: 900;
	font-size: 70pt;
	letter-spacing: 50px; 
	text-indent: 50px;
	color: white;
	text-align: center;
	padding-bottom: 200px;
	padding-top: 100px;
	justify-content: center;
}

.active {
	background-color: orange;
}
body {
	margin: 0;

}
.siteheader {
    	background-color: rgba(255,255,255,0.1);
    	
   		transform: none;
    	
    	padding: none;

		text-align: center;
		position: sticky;
		top: 0;
		z-index: 10;
		font-family: Verdana;
		width: 100%;
		-webkit-backdrop-filter: blur(10px);
  		backdrop-filter: blur(10px);
}

.pagebox {
	margin-top: 50px;
	margin-bottom: 50px;
	
	width: 100%;
	margin:  auto;
	padding: 40px
	position: relative;
	display: inline-block;
    align-items: center;
	transform: none;
}

.maincontent {
    	
    	
	overflow: auto;
	
}
.sitefooter {
	
   
	height: 100px;
	
}

.highlight {
	color:orange;
}
.callout {
	color:blue
}

.center{
	width: 900px;	
}
#bottom {
	color:red
}

div {
   /* border: 1px solid black; */
     }
.box-container1 {
	
	padding-top: 0px;
	padding-bottom: 30px;
	display: flex;
	
	justify-content: center;
}
.box1 {
	
	display: inline-block;
	position: relative;
	width: 350px;
	height: 350px;
	text-align: center;
	padding: 0px;
	margin: 10px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
.box11 {
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
	display: inline-block;
	position: relative;
	width: 350px;
	height: 350px;
	text-align: center;
	padding: 0px;
	margin: 10px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
.about1 {

	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
a.ab1 {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: block;
	text-decoration: none;
	font-family: Verdana;
	font-weight: 90;
	letter-spacing: 2px;
	color: white;
	opacity: 0.75;
	font-size: 20px;
	align-content: right;
	margin: 0px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
	text-align: left;

}
.item1 {
	position: relative;
    margin: 0px;
    overflow: hidden;
    width: 100%;
	height: 100%;
	border-radius: 4%;
	border-radius-webkit-: 4%;
	-webkit-mask-image: -webkit-radial-gradient(white, black); /*---> to keep round corners on hoverin Safari<---*/
	}
.item1 img {
	position: relative;
    transition: all 0.3s;
	width: 120%;
	height: 120%;
	margin: 0px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
	object-fit: cover;
}
.home1 {
	position: absolute;
	padding-bottom: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.7));
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
.box1:hover .item1 img {
    	transform: scale(1.1);
	transform-webkit-: scale(1.1);
	border-radius: 4%;
	border-radius-webkit-: 4%;	
}

.box-container2 {
	/*float: right;*/
	padding-bottom: 30px;
	position: absolute

	height: 100%;
	display: flex;
	justify-content: center;

	
}
.box2 {
	position: relative;
	
	width: 350px;
	height: 350px;

	padding-left: 0px;
	margin: 10px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
.about2 {
	
	bottom: 0px;
	width: 350x;
	height: 350px;
	background: rgba(255, 255, 255, 0);
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-webkit-backdrop-filter: blur(10px);
  	backdrop-filter: blur(10px);
}
a.ab2 {
    padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 20px;

	display: block;
	text-decoration: none;
	font-family: Verdana;
	font-weight: 90;
	letter-spacing: 2px;
	color: white;
	opacity: 0.75;
	font-size: 20px;
	align-content: right;
	margin: 0px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
	text-align: right;
}
.box22 {
	display: inline-block;
	position: relative;
	width: 350px;
	height: 350px;
	text-align: center;
	padding: 0px;
	margin: 10px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
.item2 {
	
    	margin: 0px;
    	overflow: hidden;
    	width: 350xp;
		height: 350px;
		border-radius: 4%;
		border-radius-webkit-: 4%;
		-webkit-mask-image: -webkit-radial-gradient(white, black); /*---> to keep round corners on hoverin Safari<---*/
	
}
.item2 img {
	
    	transition: all 0.3s;
	width: 100%;
	height: 100%;
	margin: 0px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
	object-fit: cover;

	
}
.home2 {
	position: absolute;
	padding-bottom: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.7));
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;

}
.box22:hover .item2 img {
    	transform: scale(1.1);
	transform-webkit-: scale(1.1);
	border-radius: 4%;
	border-radius-webkit-: 4%;
	
}

a.ab:hover, .home1:hover, .home2:hover, .contact:hover {
	opacity: 1;
	color: white;
	background: no-repeat;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
a.ab {
	padding-bottom: 0px;
	padding-top: 300px;
	display: block;
	text-decoration: none;
	font-family: Verdana;
	font-weight: 900;
	letter-spacing: 2px;
	color: black;
	opacity: 0.75;
	font-size: 20px;
	margin: 0px;
	border-radius: 4%;
	border-radius-webkit-: 4%;
}
.about {
	position: absolute;
	padding-bottom: 0px;
	bottom: 0px;
	width: 350px;
	height: 350px;
	background: rgba(255, 255, 255, 0);
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.7));
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
.contact {
	position: absolute;
	padding-bottom: 0px;
	bottom: 0px;
	width: 350px;
	height: 350px;
	background: rgba(255, 255, 255, 0);
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0.7));
	border-radius: 4%;
	border-radius-webkit-: 4%;
	margin: 0px;
	transition: all 0.3s ease;
	-webkit-transition:all 0.3s ease;
}
